.about-container{
    display: flex;
    align-items: center;
    
    height:100vh;
}


.about {
    display:flex;
    /* justify-content: space-evenly; */
  
    
}


.about-image img{
    border-radius: 15px;
    width: 300px;
}



.about-text {
    width:65%;
    border:1px solid gray;
    border-radius: 15px;
    padding: 10px;
   
}
ul li{
    margin-right: 100px;
}

.info-list li{
    list-style: square;
    line-height: 40px;
   
}

li a {
    text-decoration:none;
}

/* Responsive About page */

@media only screen and (max-width: 768px) {
    .about {
      flex-direction: column;
      align-items: center;
      gap:2rem;
      
    }
    .about-text {
        width:95%;
    }
    .experience {
        display: flex;
    }
  }
   
